body {
    margin: 0px;
    font-family: 'Poppins';
}

section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    height: 85vh;
    width: 100%;
}

.Air-Force-1 {
    width: 50%;
}

.Air-Force-1 img {
    padding: 20px;
    animation: myAnim 1s ease 0s 1 normal forwards;
}

.text-for-the-shoe {
    width: 50%;
    padding: 20px;

}

.first-two-cards {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.second-two-cards {
    display: flex;
    flex-direction: row;
    gap: 30px;

}

@keyframes myAnim {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}



.nav {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
}

.img-logo {
    display: flex;
    flex-direction: row;
}

.logo {
    height: 70px;
    width: 70px;
    margin-left: 23px;
}

.links-and-input a {
    text-decoration: none;
    color: black;
    margin: 20px;
}

.links-and-input a:hover {
    margin-top: 23px;
    border-bottom: solid black 3px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;


}

.links-and-input {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.cards-heading {
    text-align: center;
    padding: 20px;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.card-1,
.card-2,
.card-3,
.card-4 {
    height: 350px;
    width: 300px;
    background-color: #eee;
    border-radius: 15px;
    display: flex;
    flex-direction: column;

}

.card-1 img,
.card-2 img,
.card-3 img,
.card-4 img {
    border-radius: 15px;
    width: 201px;
    height: 231px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 15px;
    object-fit: cover;
}

.card-1 h3,
h5,
.card-2 h3,
h5,
.card-3 h3,
h5,
.card-4 h3,
h5 {
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 24px;

}

@media screen and (max-width:480px) {


    body {
        font-size: x-small;
    }


    .Air-Force-1 img {
        width: 300px;
        /* height: 80px; */
    }

    .text-for-the-shoe {
        width: 90%;
        padding: 20px;
    }

    .Air-Force-1 {
        width: 90%;
        padding: 20px;
    }

    section {
        font-size: xx-small;
        flex-direction: column-reverse;
        height: 50vh;
    }



    .nav {
        font-size: x-small;
        font-weight: 400;
    }



    .logo {
        height: 50px;
        width: 50px;
    }

    .card-1 img,
    .card-2 img,
    .card-3 img,
    .card-4 img {
        border-radius: 15px;
        width: 81px;
        height: 101px;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 20px;
        margin-bottom: 15px;
        object-fit: cover;
    }

    .card-1,
    .card-2,
    .card-3,
    .card-4 {
        width: 141px;
        height: 181px;



    }

    .first-two-cards {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .second-two-cards {
        display: flex;
        flex-direction: row;
        gap: 10px;

    }

    .cards {
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
        justify-content: center;
    }
}
